extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post' action='/login')
    div
      label(for='email') Email:
      input(type='email' name='email' required)
    div
      label(for='password') Password:
      input(type='password' name='password' required)
    div
      input(type='submit' value='Log In')